page-home {

h4{
    color: darkgreen;
    text-align: center;
    border-style: dotted
}   

h2{
    text-align: center;
    color: brown;
    border-style: dotted
}

#notary{
    display: block;
    margin: auto;
    border-style: hidden
}
#notary{
    width: 180px;
    height: 135px;
    border-top-style: inherit;
}

.toolbar-background {
    background-color: rgb(198, 209, 196) !important;
  }

  #fondo {
    background: linear-gradient(top, white, #D2B4B4);
}

}
