page-cliente-create {
    .toolbar-background {
        background-color: rgb(198, 209, 196) !important;
      }

      .colors {
        color: #FFFFFF;
        background-color: #755856;
    }

    h2{
        text-align: center
    }

    #fondo {
        background: linear-gradient(top, white, #D2B4B4);
    }
}
